<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hair Salon</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header>
        <nav>
            <h4>Salon Name</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Lookbook</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Cart</a></li>

            </ul>
            <h4>Book Online</h4>
        </nav>
    </header>

    <main>
        <section>
            <h1>Blonde <br> & Highlight</h1>
            <p>Divide your Unqiueness by your Hairs in Tyle</p>
            <button> - Our Services</button>
        </section>
        <aside>
            <h3>Your first visit?</h3>
            <p>-20% for the first <br> classic hair coloring</p>
            <button>- Book online</button>
        </aside>
    </main>

    <section class="clear">
        <section>
            <img src="#" alt="avatar">
            <h3>Expert beautions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas sunt et architecto temporibus, iste est non sapiente doloremque repudiandae.</p>
        </section>
        <section>
            <img src="#" alt="avatar">
            <h3>Quality Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas sunt et architecto temporibus, iste est non sapiente doloremque repudiandae.</p>
        </section>
        <section>
            <img src="#" alt="avatar">
            <h3>Beauty Products</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas sunt et architecto temporibus, iste est non sapiente doloremque repudiandae.</p>
        </section>
    </section>

    <section>
        <h2>Make your own momentum</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit eveniet recusandae modi ipsam consectetur est soluta optio. Ab quo commodi sunt, mollitia, necessitatibus, harum atque minus asperiores alias sint similique.</p>
        <button>Read More</button>
    </section>

    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>