<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Grit meets Opportunity
    </title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="top">

        <header>
            <nav>
                <ul>
                    <li>Classes</li>
                    <li>Hire Us</li>
                </ul>
            </nav>
            <img src="#" alt="logo">
            <button>Donate</button>
        </header>

        <main>
            <h1>Where Grit meets Opportunity</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem itaque explicabo ipsa excepturi neque necessitatibus, aperiam magnam temporibus laudantium fuga in! Sed deserunt neque quos commodi. Eligendi soluta laboriosam nihil sapiente
                magnam. In, culpa hic! Neque incidunt, minima sequi facere praesentium numquam sapiente necessitatibus rem est fuga, dolorem provident expedita velit molestiae ipsum recusandae ab optio obcaecati aliquid? Rem.</p>
        </main>
        <p>Watch the Video</p>
        <!-- <video width="320" height="240" controls>
            <source src="https://www.youtube.com/watch?v=owY34aRiBNU" type="video/mp4">
            Your browser does not support the video tag.
          </video> -->
        <p>Background image</p>
    </div>


    <div class="mid">
        <section>
            <h2>Why</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat temporibus illum et quibusdam doloremque iure, recusandae aperiam aliquam accusantium voluptate nostrum! Quibusdam alias dolorem non magni ducimus nostrum vel, quas a dignissimos,
                voluptatum beatae, tempore architecto id aspernatur voluptas laborum!</p>
        </section>
    </div>


    <div class="last">

        <section>
            <img src="../Jordan.jpg" alt="Jordan">
            <h3>Visit the Gym</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita doloribus commodi corrupti provident, maxime culpa architecto aperiam deserunt non quasi.</p>
            <button class="button">Classes</button>
        </section>

        <section>
            <img src="../Jordan.jpg" alt="Jordan">
            <h3>Visit the Gym</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita doloribus commodi corrupti provident, maxime culpa architecto aperiam deserunt non quasi.</p>
            <button class="button">Hire Us</button>
        </section>
    </div>

    <section class="volunteer">
        <h2>Volunteer with level ground</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam eveniet officia itaque aspernatur atque architecto rem nulla excepturi quibusdam. Hic aperiam vero sapiente voluptatum ipsum consectetur at doloremque exercitationem, eaque blanditiis
            dolorem, similique, obcaecati quidem ducimus pariatur! Natus, eum voluptas architecto ducimus et, adipisci a tenetur beatae tempore asperiores dolorum sapiente laboriosam similique veritatis eos quibusdam harum quos! Officia, magni ea? Accusamus
            expedita reprehenderit ut ipsa possimus, magni sed perferendis?</p>
        <button class="button">Hire Us</button>
    </section>

    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>